In [18]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
appName("Sneha Spark Session").\
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [19]:
spark

In [4]:
order_schema = 'order_id long, order_date date, customer_id long, order_status string'

In [5]:
order_df = spark.read.\
format("csv").\
schema(order_schema).\
load("/public/trendytech/orders/orders_1gb.csv")

In [6]:
order_df.show()

+--------+----------+-----------+---------------+
|order_id|order_date|customer_id|   order_status|
+--------+----------+-----------+---------------+
|       1|2013-07-25|      11599|         CLOSED|
|       2|2013-07-25|        256|PENDING_PAYMENT|
|       3|2013-07-25|      12111|       COMPLETE|
|       4|2013-07-25|       8827|         CLOSED|
|       5|2013-07-25|      11318|       COMPLETE|
|       6|2013-07-25|       7130|       COMPLETE|
|       7|2013-07-25|       4530|       COMPLETE|
|       8|2013-07-25|       2911|     PROCESSING|
|       9|2013-07-25|       5657|PENDING_PAYMENT|
|      10|2013-07-25|       5648|PENDING_PAYMENT|
|      11|2013-07-25|        918| PAYMENT_REVIEW|
|      12|2013-07-25|       1837|         CLOSED|
|      13|2013-07-25|       9149|PENDING_PAYMENT|
|      14|2013-07-25|       9842|     PROCESSING|
|      15|2013-07-25|       2568|       COMPLETE|
|      16|2013-07-25|       7276|PENDING_PAYMENT|
|      17|2013-07-25|       2667|       COMPLETE|
|      18|2013-07-25|       1205|         CLOSED|
|      19|2013-07-25|       9488|PENDING_PAYMENT|
|      20|2013-07-25|       9198|     PROCESSING|
+--------+----------+-----------+---------------+
only showing top 20 rows

In [7]:
order_df.select("*").show()

+--------+----------+-----------+---------------+
|order_id|order_date|customer_id|   order_status|
+--------+----------+-----------+---------------+
|       1|2013-07-25|      11599|         CLOSED|
|       2|2013-07-25|        256|PENDING_PAYMENT|
|       3|2013-07-25|      12111|       COMPLETE|
|       4|2013-07-25|       8827|         CLOSED|
|       5|2013-07-25|      11318|       COMPLETE|
|       6|2013-07-25|       7130|       COMPLETE|
|       7|2013-07-25|       4530|       COMPLETE|
|       8|2013-07-25|       2911|     PROCESSING|
|       9|2013-07-25|       5657|PENDING_PAYMENT|
|      10|2013-07-25|       5648|PENDING_PAYMENT|
|      11|2013-07-25|        918| PAYMENT_REVIEW|
|      12|2013-07-25|       1837|         CLOSED|
|      13|2013-07-25|       9149|PENDING_PAYMENT|
|      14|2013-07-25|       9842|     PROCESSING|
|      15|2013-07-25|       2568|       COMPLETE|
|      16|2013-07-25|       7276|PENDING_PAYMENT|
|      17|2013-07-25|       2667|       COMPLETE|
|      18|2013-07-25|       1205|         CLOSED|
|      19|2013-07-25|       9488|PENDING_PAYMENT|
|      20|2013-07-25|       9198|     PROCESSING|
+--------+----------+-----------+---------------+
only showing top 20 rows

In [8]:
order_df.select("order_id","order_date").show()

+--------+----------+
|order_id|order_date|
+--------+----------+
|       1|2013-07-25|
|       2|2013-07-25|
|       3|2013-07-25|
|       4|2013-07-25|
|       5|2013-07-25|
|       6|2013-07-25|
|       7|2013-07-25|
|       8|2013-07-25|
|       9|2013-07-25|
|      10|2013-07-25|
|      11|2013-07-25|
|      12|2013-07-25|
|      13|2013-07-25|
|      14|2013-07-25|
|      15|2013-07-25|
|      16|2013-07-25|
|      17|2013-07-25|
|      18|2013-07-25|
|      19|2013-07-25|
|      20|2013-07-25|
+--------+----------+
only showing top 20 rows

In [9]:
from pyspark.sql.functions import *

In [10]:
order_df.select("order_id",order_df.order_date,order_df['order_date'],column('customer_id'),col('customer_id'),exp("order_status")).show()

+--------+----------+----------+-----------+-----------+-----------------+
|order_id|order_date|order_date|customer_id|customer_id|EXP(order_status)|
+--------+----------+----------+-----------+-----------+-----------------+
|       1|2013-07-25|2013-07-25|      11599|      11599|             null|
|       2|2013-07-25|2013-07-25|        256|        256|             null|
|       3|2013-07-25|2013-07-25|      12111|      12111|             null|
|       4|2013-07-25|2013-07-25|       8827|       8827|             null|
|       5|2013-07-25|2013-07-25|      11318|      11318|             null|
|       6|2013-07-25|2013-07-25|       7130|       7130|             null|
|       7|2013-07-25|2013-07-25|       4530|       4530|             null|
|       8|2013-07-25|2013-07-25|       2911|       2911|             null|
|       9|2013-07-25|2013-07-25|       5657|       5657|             null|
|      10|2013-07-25|2013-07-25|       5648|       5648|             null|
|      11|2013-07-25|2013-07-25|        918|        918|             null|
|      12|2013-07-25|2013-07-25|       1837|       1837|             null|
|      13|2013-07-25|2013-07-25|       9149|       9149|             null|
|      14|2013-07-25|2013-07-25|       9842|       9842|             null|
|      15|2013-07-25|2013-07-25|       2568|       2568|             null|
|      16|2013-07-25|2013-07-25|       7276|       7276|             null|
|      17|2013-07-25|2013-07-25|       2667|       2667|             null|
|      18|2013-07-25|2013-07-25|       1205|       1205|             null|
|      19|2013-07-25|2013-07-25|       9488|       9488|             null|
|      20|2013-07-25|2013-07-25|       9198|       9198|             null|
+--------+----------+----------+-----------+-----------+-----------------+
only showing top 20 rows

In [14]:
order_df.select("order_id",order_df.order_date,order_df['order_date'],column('customer_id'),col('customer_id'),exp("order_status")).where(col('order_status').like('PENDING%')).show()

+--------+----------+----------+-----------+-----------+-----------------+
|order_id|order_date|order_date|customer_id|customer_id|EXP(order_status)|
+--------+----------+----------+-----------+-----------+-----------------+
|       2|2013-07-25|2013-07-25|        256|        256|             null|
|       9|2013-07-25|2013-07-25|       5657|       5657|             null|
|      10|2013-07-25|2013-07-25|       5648|       5648|             null|
|      13|2013-07-25|2013-07-25|       9149|       9149|             null|
|      16|2013-07-25|2013-07-25|       7276|       7276|             null|
|      19|2013-07-25|2013-07-25|       9488|       9488|             null|
|      21|2013-07-25|2013-07-25|       2711|       2711|             null|
|      23|2013-07-25|2013-07-25|       4367|       4367|             null|
|      27|2013-07-25|2013-07-25|       3241|       3241|             null|
|      30|2013-07-25|2013-07-25|      10039|      10039|             null|
|      33|2013-07-25|2013-07-25|       5793|       5793|             null|
|      36|2013-07-25|2013-07-25|       5649|       5649|             null|
|      39|2013-07-25|2013-07-25|       8214|       8214|             null|
|      40|2013-07-25|2013-07-25|      12092|      12092|             null|
|      41|2013-07-25|2013-07-25|       8136|       8136|             null|
|      42|2013-07-25|2013-07-25|       9776|       9776|             null|
|      43|2013-07-25|2013-07-25|       7776|       7776|             null|
|      44|2013-07-25|2013-07-25|      10500|      10500|             null|
|      47|2013-07-25|2013-07-25|       8487|       8487|             null|
|      49|2013-07-25|2013-07-25|       1871|       1871|             null|
+--------+----------+----------+-----------+-----------+-----------------+
only showing top 20 rows

In [16]:
order_df.select("order_id",order_df.order_date,order_df['order_date'],column('customer_id'),col('customer_id'),exp("order_status")).where("order_status like 'PENDING%'").show()

+--------+----------+----------+-----------+-----------+-----------------+
|order_id|order_date|order_date|customer_id|customer_id|EXP(order_status)|
+--------+----------+----------+-----------+-----------+-----------------+
|       2|2013-07-25|2013-07-25|        256|        256|             null|
|       9|2013-07-25|2013-07-25|       5657|       5657|             null|
|      10|2013-07-25|2013-07-25|       5648|       5648|             null|
|      13|2013-07-25|2013-07-25|       9149|       9149|             null|
|      16|2013-07-25|2013-07-25|       7276|       7276|             null|
|      19|2013-07-25|2013-07-25|       9488|       9488|             null|
|      21|2013-07-25|2013-07-25|       2711|       2711|             null|
|      23|2013-07-25|2013-07-25|       4367|       4367|             null|
|      27|2013-07-25|2013-07-25|       3241|       3241|             null|
|      30|2013-07-25|2013-07-25|      10039|      10039|             null|
|      33|2013-07-25|2013-07-25|       5793|       5793|             null|
|      36|2013-07-25|2013-07-25|       5649|       5649|             null|
|      39|2013-07-25|2013-07-25|       8214|       8214|             null|
|      40|2013-07-25|2013-07-25|      12092|      12092|             null|
|      41|2013-07-25|2013-07-25|       8136|       8136|             null|
|      42|2013-07-25|2013-07-25|       9776|       9776|             null|
|      43|2013-07-25|2013-07-25|       7776|       7776|             null|
|      44|2013-07-25|2013-07-25|      10500|      10500|             null|
|      47|2013-07-25|2013-07-25|       8487|       8487|             null|
|      49|2013-07-25|2013-07-25|       1871|       1871|             null|
+--------+----------+----------+-----------+-----------+-----------------+
only showing top 20 rows

In [17]:
spark.stop()