In [34]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
appName("Sneha Spark Session").\
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [35]:
spark

In [36]:
! hadoop fs -cat /public/trendytech/datasets/windowdatamodified.csv |head

country,weeknum,numinvoices,totalquantity,invoicevalue
Spain,49,1,67,174.72
Germany,48,11,1795,1600
Lithuania,48,3,622,1598.06
Germany,49,12,1852,1800
Bahrain,51,1,54,205.74
Iceland,49,1,319,711.79
India,51,5,95,300
Australia,50,2,133,387.95
Italy,49,1,-2,-17.0

In [37]:
order_df = spark.read.\
format('csv').\
option("inferSchema", True).\
option("header", True).\
load('/public/trendytech/datasets/windowdatamodified.csv')

In [38]:
order_df.sort("country","weeknum").show()

+---------------+-------+-----------+-------------+------------+
|        country|weeknum|numinvoices|totalquantity|invoicevalue|
+---------------+-------+-----------+-------------+------------+
|      Australia|     48|          1|          107|      358.25|
|      Australia|     49|          1|          214|       258.9|
|      Australia|     50|          2|          133|      387.95|
|        Austria|     50|          2|            3|      257.04|
|        Bahrain|     51|          1|           54|      205.74|
|        Belgium|     48|          1|          528|       800.0|
|        Belgium|     50|          2|          285|      625.16|
|        Belgium|     51|          2|          942|       800.0|
|Channel Islands|     49|          1|           80|      363.53|
|         Cyprus|     50|          1|          917|     1590.82|
|        Denmark|     49|          1|          454|      1281.5|
|        Finland|     50|          1|         1254|       892.8|
|         France|     48|          4|         1299|       500.0|
|         France|     49|          9|         2303|       500.0|
|         France|     50|          6|          529|      537.32|
|         France|     51|          5|          847|       500.0|
|        Germany|     48|         11|         1795|      1600.0|
|        Germany|     49|         12|         1852|      1800.0|
|        Germany|     50|         15|         1973|      1800.0|
|        Germany|     51|          5|         1103|      1600.0|
+---------------+-------+-----------+-------------+------------+
only showing top 20 rows

In [39]:
order_df.orderBy("country","invoicevalue").show()

+---------------+-------+-----------+-------------+------------+
|        country|weeknum|numinvoices|totalquantity|invoicevalue|
+---------------+-------+-----------+-------------+------------+
|      Australia|     49|          1|          214|       258.9|
|      Australia|     48|          1|          107|      358.25|
|      Australia|     50|          2|          133|      387.95|
|        Austria|     50|          2|            3|      257.04|
|        Bahrain|     51|          1|           54|      205.74|
|        Belgium|     50|          2|          285|      625.16|
|        Belgium|     48|          1|          528|       800.0|
|        Belgium|     51|          2|          942|       800.0|
|Channel Islands|     49|          1|           80|      363.53|
|         Cyprus|     50|          1|          917|     1590.82|
|        Denmark|     49|          1|          454|      1281.5|
|        Finland|     50|          1|         1254|       892.8|
|         France|     49|          9|         2303|       500.0|
|         France|     48|          4|         1299|       500.0|
|         France|     51|          5|          847|       500.0|
|         France|     50|          6|          529|      537.32|
|        Germany|     51|          5|         1103|      1600.0|
|        Germany|     48|         11|         1795|      1600.0|
|        Germany|     49|         12|         1852|      1800.0|
|        Germany|     50|         15|         1973|      1800.0|
+---------------+-------+-----------+-------------+------------+
only showing top 20 rows

In [40]:
from pyspark.sql import *

In [41]:
from pyspark.sql.functions import *

In [42]:
mywindow = Window.partitionBy("Country").orderBy("weeknum").rowsBetween(Window.unboundedPreceding,Window.currentRow)

In [43]:
result_df = order_df.withColumn("running_total",sum("invoicevalue").over(mywindow))

In [44]:
result_df.show()

+-------+-------+-----------+-------------+------------+------------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|     running_total|
+-------+-------+-----------+-------------+------------+------------------+
| Sweden|     50|          3|         3714|      2646.3|            2646.3|
|Germany|     48|         11|         1795|      1600.0|            1600.0|
|Germany|     49|         12|         1852|      1800.0|            3400.0|
|Germany|     50|         15|         1973|      1800.0|            5200.0|
|Germany|     51|          5|         1103|      1600.0|            6800.0|
| France|     48|          4|         1299|       500.0|             500.0|
| France|     49|          9|         2303|       500.0|            1000.0|
| France|     50|          6|          529|      537.32|1537.3200000000002|
| France|     51|          5|          847|       500.0|2037.3200000000002|
|Belgium|     48|          1|          528|       800.0|             800.0|
|Belgium|     50|          2|          285|      625.16|1425.1599999999999|
|Belgium|     51|          2|          942|       800.0|           2225.16|
|Finland|     50|          1|         1254|       892.8|             892.8|
|  India|     48|          7|         2822|       300.0|             300.0|
|  India|     49|          5|         1280|      3284.1|            3584.1|
|  India|     50|          5|         1184|     2321.78|           5905.88|
|  India|     51|          5|           95|       300.0|           6205.88|
|  Italy|     48|          1|          164|       427.8|             427.8|
|  Italy|     49|          1|           -2|       -17.0|             410.8|
|  Italy|     51|          1|          131|       383.7|             794.5|
+-------+-------+-----------+-------------+------------+------------------+
only showing top 20 rows

In [45]:
mywindow = Window.partitionBy("country").orderBy(desc("invoicevalue"))

In [46]:
result_df = order_df.withColumn("rank",rank().over(mywindow))

In [47]:
result_df.show()

+-------+-------+-----------+-------------+------------+----+
|country|weeknum|numinvoices|totalquantity|invoicevalue|rank|
+-------+-------+-----------+-------------+------------+----+
| Sweden|     50|          3|         3714|      2646.3|   1|
|Germany|     49|         12|         1852|      1800.0|   1|
|Germany|     50|         15|         1973|      1800.0|   1|
|Germany|     48|         11|         1795|      1600.0|   3|
|Germany|     51|          5|         1103|      1600.0|   3|
| France|     50|          6|          529|      537.32|   1|
| France|     51|          5|          847|       500.0|   2|
| France|     49|          9|         2303|       500.0|   2|
| France|     48|          4|         1299|       500.0|   2|
|Belgium|     48|          1|          528|       800.0|   1|
|Belgium|     51|          2|          942|       800.0|   1|
|Belgium|     50|          2|          285|      625.16|   3|
|Finland|     50|          1|         1254|       892.8|   1|
|  India|     49|          5|         1280|      3284.1|   1|
|  India|     50|          5|         1184|     2321.78|   2|
|  India|     51|          5|           95|       300.0|   3|
|  India|     48|          7|         2822|       300.0|   3|
|  Italy|     48|          1|          164|       427.8|   1|
|  Italy|     51|          1|          131|       383.7|   2|
|  Italy|     49|          1|           -2|       -17.0|   3|
+-------+-------+-----------+-------------+------------+----+
only showing top 20 rows

In [48]:
result_df = order_df.withColumn("desnserank",dense_rank().over(mywindow))

In [49]:
result_df.show()

+-------+-------+-----------+-------------+------------+----------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|desnserank|
+-------+-------+-----------+-------------+------------+----------+
| Sweden|     50|          3|         3714|      2646.3|         1|
|Germany|     49|         12|         1852|      1800.0|         1|
|Germany|     50|         15|         1973|      1800.0|         1|
|Germany|     48|         11|         1795|      1600.0|         2|
|Germany|     51|          5|         1103|      1600.0|         2|
| France|     50|          6|          529|      537.32|         1|
| France|     51|          5|          847|       500.0|         2|
| France|     49|          9|         2303|       500.0|         2|
| France|     48|          4|         1299|       500.0|         2|
|Belgium|     48|          1|          528|       800.0|         1|
|Belgium|     51|          2|          942|       800.0|         1|
|Belgium|     50|          2|          285|      625.16|         2|
|Finland|     50|          1|         1254|       892.8|         1|
|  India|     49|          5|         1280|      3284.1|         1|
|  India|     50|          5|         1184|     2321.78|         2|
|  India|     51|          5|           95|       300.0|         3|
|  India|     48|          7|         2822|       300.0|         3|
|  Italy|     48|          1|          164|       427.8|         1|
|  Italy|     51|          1|          131|       383.7|         2|
|  Italy|     49|          1|           -2|       -17.0|         3|
+-------+-------+-----------+-------------+------------+----------+
only showing top 20 rows

In [50]:
result_df = order_df.withColumn("rownumber",row_number().over(mywindow))

In [51]:
result_df.show()

+-------+-------+-----------+-------------+------------+---------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|rownumber|
+-------+-------+-----------+-------------+------------+---------+
| Sweden|     50|          3|         3714|      2646.3|        1|
|Germany|     49|         12|         1852|      1800.0|        1|
|Germany|     50|         15|         1973|      1800.0|        2|
|Germany|     48|         11|         1795|      1600.0|        3|
|Germany|     51|          5|         1103|      1600.0|        4|
| France|     50|          6|          529|      537.32|        1|
| France|     51|          5|          847|       500.0|        2|
| France|     49|          9|         2303|       500.0|        3|
| France|     48|          4|         1299|       500.0|        4|
|Belgium|     48|          1|          528|       800.0|        1|
|Belgium|     51|          2|          942|       800.0|        2|
|Belgium|     50|          2|          285|      625.16|        3|
|Finland|     50|          1|         1254|       892.8|        1|
|  India|     49|          5|         1280|      3284.1|        1|
|  India|     50|          5|         1184|     2321.78|        2|
|  India|     51|          5|           95|       300.0|        3|
|  India|     48|          7|         2822|       300.0|        4|
|  Italy|     48|          1|          164|       427.8|        1|
|  Italy|     51|          1|          131|       383.7|        2|
|  Italy|     49|          1|           -2|       -17.0|        3|
+-------+-------+-----------+-------------+------------+---------+
only showing top 20 rows

In [52]:
result_df.select("*").where("rownumber == 1").show()

+---------------+-------+-----------+-------------+------------+---------+
|        country|weeknum|numinvoices|totalquantity|invoicevalue|rownumber|
+---------------+-------+-----------+-------------+------------+---------+
|         Sweden|     50|          3|         3714|      2646.3|        1|
|        Germany|     49|         12|         1852|      1800.0|        1|
|         France|     50|          6|          529|      537.32|        1|
|        Belgium|     48|          1|          528|       800.0|        1|
|        Finland|     50|          1|         1254|       892.8|        1|
|          India|     49|          5|         1280|      3284.1|        1|
|          Italy|     48|          1|          164|       427.8|        1|
|      Lithuania|     48|          3|          622|     1598.06|        1|
|         Norway|     48|          1|         1852|     1919.14|        1|
|          Spain|     50|          2|          400|     1049.01|        1|
|        Denmark|     49|          1|          454|      1281.5|        1|
|        Iceland|     49|          1|          319|      711.79|        1|
|         Israel|     50|          1|          -56|     -227.44|        1|
|Channel Islands|     49|          1|           80|      363.53|        1|
|         Cyprus|     50|          1|          917|     1590.82|        1|
|    Switzerland|     51|          1|          604|     1001.52|        1|
|          Japan|     49|          2|         3897|     7384.99|        1|
|         Poland|     48|          1|          140|      248.16|        1|
|       Portugal|     49|          4|          726|     1844.67|        1|
|      Australia|     50|          2|          133|      387.95|        1|
+---------------+-------+-----------+-------------+------------+---------+
only showing top 20 rows

In [53]:
result_df.select("*").where("rownumber == 1").drop("rownumber").show()

+---------------+-------+-----------+-------------+------------+
|        country|weeknum|numinvoices|totalquantity|invoicevalue|
+---------------+-------+-----------+-------------+------------+
|         Sweden|     50|          3|         3714|      2646.3|
|        Germany|     49|         12|         1852|      1800.0|
|         France|     50|          6|          529|      537.32|
|        Belgium|     48|          1|          528|       800.0|
|        Finland|     50|          1|         1254|       892.8|
|          India|     49|          5|         1280|      3284.1|
|          Italy|     48|          1|          164|       427.8|
|      Lithuania|     48|          3|          622|     1598.06|
|         Norway|     48|          1|         1852|     1919.14|
|          Spain|     50|          2|          400|     1049.01|
|        Denmark|     49|          1|          454|      1281.5|
|        Iceland|     49|          1|          319|      711.79|
|         Israel|     50|          1|          -56|     -227.44|
|Channel Islands|     49|          1|           80|      363.53|
|         Cyprus|     50|          1|          917|     1590.82|
|    Switzerland|     51|          1|          604|     1001.52|
|          Japan|     49|          2|         3897|     7384.99|
|         Poland|     48|          1|          140|      248.16|
|       Portugal|     49|          4|          726|     1844.67|
|      Australia|     50|          2|          133|      387.95|
+---------------+-------+-----------+-------------+------------+
only showing top 20 rows

In [54]:
mywindow = Window.partitionBy("country").orderBy("weeknum")

In [55]:
result = order_df.withColumn("previous_week",lag("invoicevalue").over(mywindow))

In [56]:
result.show()

+-------+-------+-----------+-------------+------------+-------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|previous_week|
+-------+-------+-----------+-------------+------------+-------------+
| Sweden|     50|          3|         3714|      2646.3|         null|
|Germany|     48|         11|         1795|      1600.0|         null|
|Germany|     49|         12|         1852|      1800.0|       1600.0|
|Germany|     50|         15|         1973|      1800.0|       1800.0|
|Germany|     51|          5|         1103|      1600.0|       1800.0|
| France|     48|          4|         1299|       500.0|         null|
| France|     49|          9|         2303|       500.0|        500.0|
| France|     50|          6|          529|      537.32|        500.0|
| France|     51|          5|          847|       500.0|       537.32|
|Belgium|     48|          1|          528|       800.0|         null|
|Belgium|     50|          2|          285|      625.16|        800.0|
|Belgium|     51|          2|          942|       800.0|       625.16|
|Finland|     50|          1|         1254|       892.8|         null|
|  India|     48|          7|         2822|       300.0|         null|
|  India|     49|          5|         1280|      3284.1|        300.0|
|  India|     50|          5|         1184|     2321.78|       3284.1|
|  India|     51|          5|           95|       300.0|      2321.78|
|  Italy|     48|          1|          164|       427.8|         null|
|  Italy|     49|          1|           -2|       -17.0|        427.8|
|  Italy|     51|          1|          131|       383.7|        -17.0|
+-------+-------+-----------+-------------+------------+-------------+
only showing top 20 rows

In [58]:
result1 = result.withColumn("invoice_diff",expr("invoicevalue-previous_week"))

In [59]:
result1.show()

+-------+-------+-----------+-------------+------------+-------------+-------------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|previous_week|       invoice_diff|
+-------+-------+-----------+-------------+------------+-------------+-------------------+
| Sweden|     50|          3|         3714|      2646.3|         null|               null|
|Germany|     48|         11|         1795|      1600.0|         null|               null|
|Germany|     49|         12|         1852|      1800.0|       1600.0|              200.0|
|Germany|     50|         15|         1973|      1800.0|       1800.0|                0.0|
|Germany|     51|          5|         1103|      1600.0|       1800.0|             -200.0|
| France|     48|          4|         1299|       500.0|         null|               null|
| France|     49|          9|         2303|       500.0|        500.0|                0.0|
| France|     50|          6|          529|      537.32|        500.0|  37.32000000000005|
| France|     51|          5|          847|       500.0|       537.32| -37.32000000000005|
|Belgium|     48|          1|          528|       800.0|         null|               null|
|Belgium|     50|          2|          285|      625.16|        800.0|-174.84000000000003|
|Belgium|     51|          2|          942|       800.0|       625.16| 174.84000000000003|
|Finland|     50|          1|         1254|       892.8|         null|               null|
|  India|     48|          7|         2822|       300.0|         null|               null|
|  India|     49|          5|         1280|      3284.1|        300.0|             2984.1|
|  India|     50|          5|         1184|     2321.78|       3284.1| -962.3199999999997|
|  India|     51|          5|           95|       300.0|      2321.78|-2021.7800000000002|
|  Italy|     48|          1|          164|       427.8|         null|               null|
|  Italy|     49|          1|           -2|       -17.0|        427.8|             -444.8|
|  Italy|     51|          1|          131|       383.7|        -17.0|              400.7|
+-------+-------+-----------+-------------+------------+-------------+-------------------+
only showing top 20 rows

In [60]:
mywindow = Window.partitionBy("country")

In [62]:
result = order_df.withColumn("total_invoice",sum("invoicevalue").over(mywindow))

In [63]:
result.show()

+-------+-------+-----------+-------------+------------+------------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|     total_invoice|
+-------+-------+-----------+-------------+------------+------------------+
| Sweden|     50|          3|         3714|      2646.3|            2646.3|
|Germany|     48|         11|         1795|      1600.0|            6800.0|
|Germany|     49|         12|         1852|      1800.0|            6800.0|
|Germany|     50|         15|         1973|      1800.0|            6800.0|
|Germany|     51|          5|         1103|      1600.0|            6800.0|
| France|     51|          5|          847|       500.0|2037.3200000000002|
| France|     49|          9|         2303|       500.0|2037.3200000000002|
| France|     48|          4|         1299|       500.0|2037.3200000000002|
| France|     50|          6|          529|      537.32|2037.3200000000002|
|Belgium|     48|          1|          528|       800.0|           2225.16|
|Belgium|     50|          2|          285|      625.16|           2225.16|
|Belgium|     51|          2|          942|       800.0|           2225.16|
|Finland|     50|          1|         1254|       892.8|             892.8|
|  India|     51|          5|           95|       300.0|           6205.88|
|  India|     49|          5|         1280|      3284.1|           6205.88|
|  India|     48|          7|         2822|       300.0|           6205.88|
|  India|     50|          5|         1184|     2321.78|           6205.88|
|  Italy|     49|          1|           -2|       -17.0|             794.5|
|  Italy|     51|          1|          131|       383.7|             794.5|
|  Italy|     48|          1|          164|       427.8|             794.5|
+-------+-------+-----------+-------------+------------+------------------+
only showing top 20 rows