In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
appName("Sneha Spark Session").\
config("spark.shuffle.useOldFetchProtocol", 'true'). \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [2]:
spark

In [3]:
order_schema = 'order_id long, order_date date, customer_id long, order_status string'

In [4]:
order_df = spark.read.\
format("csv").\
schema(order_schema).\
load("/public/trendytech/orders/orders_1gb.csv")

In [5]:
order_df.show()

+--------+----------+-----------+---------------+
|order_id|order_date|customer_id|   order_status|
+--------+----------+-----------+---------------+
|       1|2013-07-25|      11599|         CLOSED|
|       2|2013-07-25|        256|PENDING_PAYMENT|
|       3|2013-07-25|      12111|       COMPLETE|
|       4|2013-07-25|       8827|         CLOSED|
|       5|2013-07-25|      11318|       COMPLETE|
|       6|2013-07-25|       7130|       COMPLETE|
|       7|2013-07-25|       4530|       COMPLETE|
|       8|2013-07-25|       2911|     PROCESSING|
|       9|2013-07-25|       5657|PENDING_PAYMENT|
|      10|2013-07-25|       5648|PENDING_PAYMENT|
|      11|2013-07-25|        918| PAYMENT_REVIEW|
|      12|2013-07-25|       1837|         CLOSED|
|      13|2013-07-25|       9149|PENDING_PAYMENT|
|      14|2013-07-25|       9842|     PROCESSING|
|      15|2013-07-25|       2568|       COMPLETE|
|      16|2013-07-25|       7276|PENDING_PAYMENT|
|      17|2013-07-25|       2667|       COMPLETE|
|      18|2013-07-25|       1205|         CLOSED|
|      19|2013-07-25|       9488|PENDING_PAYMENT|
|      20|2013-07-25|       9198|     PROCESSING|
+--------+----------+-----------+---------------+
only showing top 20 rows

In [6]:
order_df.createOrReplaceTempView("order")

In [7]:
spark.sql("select * from order")

+--------+----------+-----------+---------------+
|order_id|order_date|customer_id|   order_status|
+--------+----------+-----------+---------------+
|       1|2013-07-25|      11599|         CLOSED|
|       2|2013-07-25|        256|PENDING_PAYMENT|
|       3|2013-07-25|      12111|       COMPLETE|
|       4|2013-07-25|       8827|         CLOSED|
|       5|2013-07-25|      11318|       COMPLETE|
|       6|2013-07-25|       7130|       COMPLETE|
|       7|2013-07-25|       4530|       COMPLETE|
|       8|2013-07-25|       2911|     PROCESSING|
|       9|2013-07-25|       5657|PENDING_PAYMENT|
|      10|2013-07-25|       5648|PENDING_PAYMENT|
|      11|2013-07-25|        918| PAYMENT_REVIEW|
|      12|2013-07-25|       1837|         CLOSED|
|      13|2013-07-25|       9149|PENDING_PAYMENT|
|      14|2013-07-25|       9842|     PROCESSING|
|      15|2013-07-25|       2568|       COMPLETE|
|      16|2013-07-25|       7276|PENDING_PAYMENT|
|      17|2013-07-25|       2667|       COMPLETE|
|      18|2013-07-25|       1205|         CLOSED|
|      19|2013-07-25|       9488|PENDING_PAYMENT|
|      20|2013-07-25|       9198|     PROCESSING|
+--------+----------+-----------+---------------+
only showing top 20 rows

In [8]:
spark.sql("select * fra order")

ParseException:
extraneous input 'order' expecting {<EOF>, ';'}(line 1, pos 13)

== SQL ==
select * fra order
-------------^^^

In [9]:
spark.sql("select * from orders")

AnalysisException: Table or view not found: orders; line 1 pos 14;
'Project [*]
+- 'UnresolvedRelation [orders], [], false

In [10]:
spark.sql("""
select order_id,order_status from (select order_id,customer_id
,order_status from order where order_id<500) where order_id<200
""").show()

+--------+---------------+
|order_id|   order_status|
+--------+---------------+
|       1|         CLOSED|
|       2|PENDING_PAYMENT|
|       3|       COMPLETE|
|       4|         CLOSED|
|       5|       COMPLETE|
|       6|       COMPLETE|
|       7|       COMPLETE|
|       8|     PROCESSING|
|       9|PENDING_PAYMENT|
|      10|PENDING_PAYMENT|
|      11| PAYMENT_REVIEW|
|      12|         CLOSED|
|      13|PENDING_PAYMENT|
|      14|     PROCESSING|
|      15|       COMPLETE|
|      16|PENDING_PAYMENT|
|      17|       COMPLETE|
|      18|         CLOSED|
|      19|PENDING_PAYMENT|
|      20|     PROCESSING|
+--------+---------------+
only showing top 20 rows

In [11]:
spark.sql("""
select order_id,order_status from (select order_id,customer_id
,order_status from order where order_id<500) where order_id<200
""").explain(True)

== Parsed Logical Plan ==
'Project ['order_id, 'order_status]
+- 'Filter ('order_id < 200)
   +- 'SubqueryAlias __auto_generated_subquery_name
      +- 'Project ['order_id, 'customer_id, 'order_status]
         +- 'Filter ('order_id < 500)
            +- 'UnresolvedRelation [order], [], false

== Analyzed Logical Plan ==
order_id: bigint, order_status: string
Project [order_id#0L, order_status#3]
+- Filter (order_id#0L < cast(200 as bigint))
   +- SubqueryAlias __auto_generated_subquery_name
      +- Project [order_id#0L, customer_id#2L, order_status#3]
         +- Filter (order_id#0L < cast(500 as bigint))
            +- SubqueryAlias order
               +- Relation[order_id#0L,order_date#1,customer_id#2L,order_status#3] csv

== Optimized Logical Plan ==
Project [order_id#0L, order_status#3]
+- Filter ((isnotnull(order_id#0L) AND (order_id#0L < 500)) AND (order_id#0L < 200))
   +- Relation[order_id#0L,order_date#1,customer_id#2L,order_status#3] csv

== Physical Plan ==
*(1) Filter ((isnotnull(order_id#0L) AND (order_id#0L < 500)) AND (order_id#0L < 200))
+- FileScan csv [order_id#0L,order_status#3] Batched: false, DataFilters: [isnotnull(order_id#0L), (order_id#0L < 500), (order_id#0L < 200)], Format: CSV, Location: InMemoryFileIndex[hdfs://m01.itversity.com:9000/public/trendytech/orders/orders_1gb.csv], PartitionFilters: [], PushedFilters: [IsNotNull(order_id), LessThan(order_id,500), LessThan(order_id,200)], ReadSchema: struct<order_id:bigint,order_status:string>

In [12]:
customer_schema = "customer_id long,customer_fname string, customer_lname string,username string, password string,address string, city string, state string, pincode long"

In [13]:
customer_df = spark.read.format("csv").schema(customer_schema).load("/public/trendytech/retail_db/customers")

In [14]:
customer_df.createOrReplaceTempView("customer")

In [15]:
spark.sql(""" select * from order join customer on order.customer_id == customer.customer_id
where order_status = 'CLOSED'
""").show()

+--------+----------+-----------+------------+-----------+--------------+--------------+---------+---------+--------------------+------------+-----+-------+
|order_id|order_date|customer_id|order_status|customer_id|customer_fname|customer_lname| username| password|             address|        city|state|pincode|
+--------+----------+-----------+------------+-----------+--------------+--------------+---------+---------+--------------------+------------+-----+-------+
|       1|2013-07-25|      11599|      CLOSED|      11599|          Mary|        Malone|XXXXXXXXX|XXXXXXXXX|8708 Indian Horse...|     Hickory|   NC|  28601|
|       4|2013-07-25|       8827|      CLOSED|       8827|         Brian|        Wilson|XXXXXXXXX|XXXXXXXXX|   8396 High Corners| San Antonio|   TX|  78240|
|      12|2013-07-25|       1837|      CLOSED|       1837|          Mary|          Vega|XXXXXXXXX|XXXXXXXXX|  4312 Bright Corner|      Caguas|   PR|    725|
|      18|2013-07-25|       1205|      CLOSED|       1205|          Mary|        Powell|XXXXXXXXX|XXXXXXXXX|9299 Quiet Pionee...|       Miami|   FL|  33126|
|      24|2013-07-25|      11441|      CLOSED|      11441|          Mary|      Ferguson|XXXXXXXXX|XXXXXXXXX|8702 Umber Mounta...|        Lutz|   FL|  33549|
|      25|2013-07-25|       9503|      CLOSED|       9503|          Mary|   Fitzpatrick|XXXXXXXXX|XXXXXXXXX|    7861 Honey Acres|     Orlando|   FL|  32822|
|      37|2013-07-25|       5863|      CLOSED|       5863|           Amy|         Smith|XXXXXXXXX|XXXXXXXXX|8187 Cotton Rise ...|     Cordova|   TN|  38018|
|      51|2013-07-25|      12271|      CLOSED|      12271|          Mary|         Small|XXXXXXXXX|XXXXXXXXX|6599 Grand Island...|     Ontario|   CA|  91761|
|      57|2013-07-25|       7073|      CLOSED|       7073|          Joan|         Smith|XXXXXXXXX|XXXXXXXXX|1987 Grand Conces...|     Del Rio|   TX|  78840|
|      61|2013-07-25|       4791|      CLOSED|       4791|          Mary|        Patton|XXXXXXXXX|XXXXXXXXX|    4696 Shady Mount|     Hialeah|   FL|  33010|
|      62|2013-07-25|       9111|      CLOSED|       9111|          Mary|         Smith|XXXXXXXXX|XXXXXXXXX|  2122 Green By-pass|      Caguas|   PR|    725|
|      87|2013-07-25|       3065|      CLOSED|       3065|           Amy|      Cummings|XXXXXXXXX|XXXXXXXXX|  9658 Merry Landing|      Caguas|   PR|    725|
|      90|2013-07-25|       9131|      CLOSED|       9131|          Mary|         Smith|XXXXXXXXX|XXXXXXXXX|3871 Umber Blosso...|  New Castle|   DE|  19720|
|     101|2013-07-25|       5116|      CLOSED|       5116|         Doris|         Smith|XXXXXXXXX|XXXXXXXXX|     1819 Noble Ramp|    Brockton|   MA|   2301|
|     116|2013-07-26|       8763|      CLOSED|       8763|        Pamela|      Williams|XXXXXXXXX|XXXXXXXXX|5567 Cotton Timbe...|      Santee|   CA|  92071|
|     129|2013-07-26|       9937|      CLOSED|       9937|          Mary|        Atkins|XXXXXXXXX|XXXXXXXXX|8766 Easy Leaf Knoll| West Covina|   CA|  91790|
|     133|2013-07-26|      10604|      CLOSED|      10604|      Jennifer|         Smith|XXXXXXXXX|XXXXXXXXX|   2905 Sleepy Route|Fayetteville|   NC|  28314|
|     191|2013-07-26|         16|      CLOSED|         16|       Tiffany|         Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|      Caguas|   PR|    725|
|     201|2013-07-26|       9055|      CLOSED|       9055|         Karen|          Ross|XXXXXXXXX|XXXXXXXXX|5207 Dewy Butterf...|      Caguas|   PR|    725|
|     211|2013-07-26|      10372|      CLOSED|      10372|         Amber|        Martin|XXXXXXXXX|XXXXXXXXX|  6481 Golden Island|      Caguas|   PR|    725|
+--------+----------+-----------+------------+-----------+--------------+--------------+---------+---------+--------------------+------------+-----+-------+
only showing top 20 rows

In [16]:
spark.sql(""" select * from order join customer on order.customer_id == customer.customer_id
where order_status = 'CLOSED'
""").explain(True)

== Parsed Logical Plan ==
'Project [*]
+- 'Filter ('order_status = CLOSED)
   +- 'Join Inner, ('order.customer_id = 'customer.customer_id)
      :- 'UnresolvedRelation [order], [], false
      +- 'UnresolvedRelation [customer], [], false

== Analyzed Logical Plan ==
order_id: bigint, order_date: date, customer_id: bigint, order_status: string, customer_id: bigint, customer_fname: string, customer_lname: string, username: string, password: string, address: string, city: string, state: string, pincode: bigint
Project [order_id#0L, order_date#1, customer_id#2L, order_status#3, customer_id#90L, customer_fname#91, customer_lname#92, username#93, password#94, address#95, city#96, state#97, pincode#98L]
+- Filter (order_status#3 = CLOSED)
   +- Join Inner, (customer_id#2L = customer_id#90L)
      :- SubqueryAlias order
      :  +- Relation[order_id#0L,order_date#1,customer_id#2L,order_status#3] csv
      +- SubqueryAlias customer
         +- Relation[customer_id#90L,customer_fname#91,customer_lname#92,username#93,password#94,address#95,city#96,state#97,pincode#98L] csv

== Optimized Logical Plan ==
Join Inner, (customer_id#2L = customer_id#90L)
:- Filter ((isnotnull(order_status#3) AND (order_status#3 = CLOSED)) AND isnotnull(customer_id#2L))
:  +- Relation[order_id#0L,order_date#1,customer_id#2L,order_status#3] csv
+- Filter isnotnull(customer_id#90L)
   +- Relation[customer_id#90L,customer_fname#91,customer_lname#92,username#93,password#94,address#95,city#96,state#97,pincode#98L] csv

== Physical Plan ==
*(2) BroadcastHashJoin [customer_id#2L], [customer_id#90L], Inner, BuildRight, false
:- *(2) Filter ((isnotnull(order_status#3) AND (order_status#3 = CLOSED)) AND isnotnull(customer_id#2L))
:  +- FileScan csv [order_id#0L,order_date#1,customer_id#2L,order_status#3] Batched: false, DataFilters: [isnotnull(order_status#3), (order_status#3 = CLOSED), isnotnull(customer_id#2L)], Format: CSV, Location: InMemoryFileIndex[hdfs://m01.itversity.com:9000/public/trendytech/orders/orders_1gb.csv], PartitionFilters: [], PushedFilters: [IsNotNull(order_status), EqualTo(order_status,CLOSED), IsNotNull(customer_id)], ReadSchema: struct<order_id:bigint,order_date:date,customer_id:bigint,order_status:string>
+- BroadcastExchange HashedRelationBroadcastMode(List(input[0, bigint, false]),false), [id=#138]
   +- *(1) Filter isnotnull(customer_id#90L)
      +- FileScan csv [customer_id#90L,customer_fname#91,customer_lname#92,username#93,password#94,address#95,city#96,state#97,pincode#98L] Batched: false, DataFilters: [isnotnull(customer_id#90L)], Format: CSV, Location: InMemoryFileIndex[hdfs://m01.itversity.com:9000/public/trendytech/retail_db/customers], PartitionFilters: [], PushedFilters: [IsNotNull(customer_id)], ReadSchema: struct<customer_id:bigint,customer_fname:string,customer_lname:string,username:string,password:st...

In [18]:
spark.sql(""" select customer_id ,count(1) from (select * from order
 where customer_id in (1,2,3,4,5)) where customer_id in (1,2,3) group by customer_id
 having customer_id = 1
""").show()

+-----------+--------+
|customer_id|count(1)|
+-----------+--------+
|          1|     375|
+-----------+--------+

In [19]:
spark.sql(""" select customer_id ,count(1) from (select * from order
 where customer_id in (1,2,3,4,5)) where customer_id in (1,2,3) group by customer_id
 having customer_id = 1
""").explain(True)

== Parsed Logical Plan ==
'UnresolvedHaving ('customer_id = 1)
+- 'Aggregate ['customer_id], ['customer_id, unresolvedalias('count(1), None)]
   +- 'Filter 'customer_id IN (1,2,3)
      +- 'SubqueryAlias __auto_generated_subquery_name
         +- 'Project [*]
            +- 'Filter 'customer_id IN (1,2,3,4,5)
               +- 'UnresolvedRelation [order], [], false

== Analyzed Logical Plan ==
customer_id: bigint, count(1): bigint
Filter (customer_id#2L = cast(1 as bigint))
+- Aggregate [customer_id#2L], [customer_id#2L, count(1) AS count(1)#251L]
   +- Filter cast(customer_id#2L as bigint) IN (cast(1 as bigint),cast(2 as bigint),cast(3 as bigint))
      +- SubqueryAlias __auto_generated_subquery_name
         +- Project [order_id#0L, order_date#1, customer_id#2L, order_status#3]
            +- Filter cast(customer_id#2L as bigint) IN (cast(1 as bigint),cast(2 as bigint),cast(3 as bigint),cast(4 as bigint),cast(5 as bigint))
               +- SubqueryAlias order
                  +- Relation[order_id#0L,order_date#1,customer_id#2L,order_status#3] csv

== Optimized Logical Plan ==
Aggregate [customer_id#2L], [customer_id#2L, count(1) AS count(1)#251L]
+- Project [customer_id#2L]
   +- Filter (((isnotnull(customer_id#2L) AND customer_id#2L IN (1,2,3,4,5)) AND customer_id#2L IN (1,2,3)) AND (customer_id#2L = 1))
      +- Relation[order_id#0L,order_date#1,customer_id#2L,order_status#3] csv

== Physical Plan ==
*(2) HashAggregate(keys=[customer_id#2L], functions=[count(1)], output=[customer_id#2L, count(1)#251L])
+- Exchange hashpartitioning(customer_id#2L, 200), ENSURE_REQUIREMENTS, [id=#260]
   +- *(1) HashAggregate(keys=[customer_id#2L], functions=[partial_count(1)], output=[customer_id#2L, count#259L])
      +- *(1) Filter (((isnotnull(customer_id#2L) AND customer_id#2L IN (1,2,3,4,5)) AND customer_id#2L IN (1,2,3)) AND (customer_id#2L = 1))
         +- FileScan csv [customer_id#2L] Batched: false, DataFilters: [isnotnull(customer_id#2L), customer_id#2L IN (1,2,3,4,5), customer_id#2L IN (1,2,3), (customer_i..., Format: CSV, Location: InMemoryFileIndex[hdfs://m01.itversity.com:9000/public/trendytech/orders/orders_1gb.csv], PartitionFilters: [], PushedFilters: [IsNotNull(customer_id), In(customer_id, [1,2,3,4,5]), In(customer_id, [1,2,3]), EqualTo(customer..., ReadSchema: struct<customer_id:bigint>