In [12]:
from pyspark.sql import SparkSession
spark = SparkSession. \
builder. \
config('spark.shuffle.useOldFetchProtocol', 'true'). \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", "/user/itv017244/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [13]:
spark

In [14]:
spark.sql("create database if not EXISTS itv017244_retail")

++
||
++
++

In [15]:
spark.sql("show databases").show()

+--------------------+
|           namespace|
+--------------------+
|0000000000000_msdian|
|0000000000000_nav...|
|0000000009874_retail|
|          00000_2_db|
|       00000assg5_db|
|     00000assign5_db|
|00000assign7_itv0...|
|0000_0spark_tabbl...|
| 0000_cache_spark111|
|        0000a5a5a5a5|
|   0001_av_ivy_tesco|
|          001_retail|
|        003402_hive1|
|    005198_ivy_tesco|
|    005212_ivy_tesco|
| 005222_ivy_practice|
| 005260_ivy_database|
|005876_week5_assi...|
|       005933_retail|
|        006539_week5|
+--------------------+
only showing top 20 rows

In [16]:
spark.sql("show databases").filter("namespace = 'itv017244_retail'").show()

+----------------+
|       namespace|
+----------------+
|itv017244_retail|
+----------------+

In [17]:
spark.sql("show databases").filter("namespace like 'itv%'").show()

+--------------------+
|           namespace|
+--------------------+
|                 itv|
|      itv000009_demo|
| itv000017_retail_db|
|      itv000018_demo|
| itv000024_retail_db|
|itv000024_retail_...|
|itv000024_retail_...|
|itv000030_vinod_k...|
|itv000033_airtraffic|
|     itv000033_hr_db|
|    itv000033_retail|
|itv000034_retail_...|
|      itv000035_demo|
|        itv000035_hr|
|       itv000035_m02|
|      itv000035_mt02|
|    itv000035_retail|
|           itv000038|
|      itv000038_test|
|       itv0000427_db|
+--------------------+
only showing top 20 rows

In [18]:
spark.sql("use itv017244_retail")

++
||
++
++

In [28]:
spark.sql("show tables").show()

+----------------+---------+-----------+
|        database|tableName|isTemporary|
+----------------+---------+-----------+
|itv017244_retail|   orders|      false|
|                |   orders|       true|
+----------------+---------+-----------+

In [26]:
orders_df = spark.read.\
format("csv").\
option("header","true").\
option("inferSchema", "True").\
load("/public/trendytech/orders_wh/*")

In [27]:
orders_df.createOrReplaceTempView("orders")

In [22]:
spark.sql("create table itv017244_retail.orders(order_id integer, order_date string, customer_id integer, order_status string)")

AnalysisException: Table or view 'orders' already exists in database 'itv017244_retail'

In [29]:
spark.sql("insert into itv017244_retail.orders select * from orders")

++
||
++
++

In [30]:
spark.sql("select * from itv017244_retail.orders limit 5").show()

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|   34565|2014-02-23 00:00:...|       8702|       COMPLETE|
|   34566|2014-02-23 00:00:...|       3066|PENDING_PAYMENT|
|   34567|2014-02-23 00:00:...|       7314|SUSPECTED_FRAUD|
|   34568|2014-02-23 00:00:...|       1271|       COMPLETE|
|   34569|2014-02-23 00:00:...|      11083|       COMPLETE|
+--------+--------------------+-----------+---------------+

In [31]:
spark.sql("use itv017244_retail")

++
||
++
++

In [32]:
spark.sql("show tables").show()

+----------------+---------+-----------+
|        database|tableName|isTemporary|
+----------------+---------+-----------+
|itv017244_retail|   orders|      false|
|                |   orders|       true|
+----------------+---------+-----------+

In [33]:
spark.sql("describe table itv017244_retail.orders").show()

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
|    order_id|      int|   null|
|  order_date|   string|   null|
| customer_id|      int|   null|
|order_status|   string|   null|
+------------+---------+-------+

In [35]:
spark.sql("describe extended itv017244_retail.orders").show(truncate = False)

+----------------------------+---------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                        |comment|
+----------------------------+---------------------------------------------------------------------------------+-------+
|order_id                    |int                                                                              |null   |
|order_date                  |string                                                                           |null   |
|customer_id                 |int                                                                              |null   |
|order_status                |string                                                                           |null   |
|                            |                                                                                 |       |
|# Detailed Table Information|                                                                                 |       |
|Database                    |itv017244_retail                                                                 |       |
|Table                       |orders                                                                           |       |
|Owner                       |itv017244                                                                        |       |
|Created Time                |Thu Feb 20 14:11:44 EST 2025                                                     |       |
|Last Access                 |UNKNOWN                                                                          |       |
|Created By                  |Spark 3.1.2                                                                      |       |
|Type                        |MANAGED                                                                          |       |
|Provider                    |hive                                                                             |       |
|Table Properties            |[transient_lastDdlTime=1740079382]                                               |       |
|Statistics                  |2999944 bytes                                                                    |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv017244/warehouse/itv017244_retail.db/orders|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                               |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                         |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                       |       |
+----------------------------+---------------------------------------------------------------------------------+-------+
only showing top 20 rows

In [36]:
spark.sql("describe formatted itv017244_retail.orders").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|            order_id|                 int|   null|
|          order_date|              string|   null|
|         customer_id|                 int|   null|
|        order_status|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|    itv017244_retail|       |
|               Table|              orders|       |
|               Owner|           itv017244|       |
|        Created Time|Thu Feb 20 14:11:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.1.2|       |
|                Type|             MANAGED|       |
|            Provider|                hive|       |
|    Table Properties|[transient_lastDd...|       |
|          Statistics|       2999944 bytes|       |
|            Location|hdfs://m01.itvers...|       |
|       Serde Library|org.apache.hadoop...|       |
|         InputFormat|org.apache.hadoop...|       |
|        OutputFormat|org.apache.hadoop...|       |
+--------------------+--------------------+-------+
only showing top 20 rows

In [43]:
spark.sql("create table  itv017244_retail.orders_EXT(order_id integer, order_date string, customer_id integer, order_status string) using csv location '/public/trendytech/retail_db/orders'")

++
||
++
++

In [44]:
spark.sql("select * from itv017244_retail.orders_EXT limit 5").show()

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|
+--------+--------------------+-----------+---------------+

In [46]:
spark.sql("describe extended itv017244_retail.orders_EXT").show(truncate = False)

+----------------------------+----------------------------------------------------------------+-------+
|col_name                    |data_type                                                       |comment|
+----------------------------+----------------------------------------------------------------+-------+
|order_id                    |int                                                             |null   |
|order_date                  |string                                                          |null   |
|customer_id                 |int                                                             |null   |
|order_status                |string                                                          |null   |
|                            |                                                                |       |
|# Detailed Table Information|                                                                |       |
|Database                    |itv017244_retail                                                |       |
|Table                       |orders_ext                                                      |       |
|Owner                       |itv017244                                                       |       |
|Created Time                |Thu Feb 20 14:44:35 EST 2025                                    |       |
|Last Access                 |UNKNOWN                                                         |       |
|Created By                  |Spark 3.1.2                                                     |       |
|Type                        |EXTERNAL                                                        |       |
|Provider                    |csv                                                             |       |
|Location                    |hdfs://m01.itversity.com:9000/public/trendytech/retail_db/orders|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe              |       |
|InputFormat                 |org.apache.hadoop.mapred.SequenceFileInputFormat                |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat       |       |
+----------------------------+----------------------------------------------------------------+-------+

In [47]:
spark.sql("truncate table itv017244_retail.orders_EXT")

AnalysisException: Operation not allowed: TRUNCATE TABLE on external tables: `itv017244_retail`.`orders_ext`