In [31]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark= SparkSession. \
builder. \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [32]:
spark

In [33]:
spark.sql("create database if not exists itv017244_assignments_week5")

++
||
++
++

In [34]:
spark.sql("show databases").show()

+--------------------+
|           namespace|
+--------------------+
|0000000000000_msdian|
|0000000000000_nav...|
|0000000009874_retail|
|          00000_2_db|
|       00000assg5_db|
|     00000assign5_db|
|00000assign7_itv0...|
|0000_0spark_tabbl...|
| 0000_cache_spark111|
|        0000a5a5a5a5|
|   0001_av_ivy_tesco|
|          001_retail|
|        003402_hive1|
|    005198_ivy_tesco|
|    005212_ivy_tesco|
| 005222_ivy_practice|
| 005260_ivy_database|
|005876_week5_assi...|
|       005933_retail|
|        006539_week5|
+--------------------+
only showing top 20 rows

In [35]:
spark.sql("show databases").filter("namespace = 'itv017244_assignments_week5'").show()

+--------------------+
|           namespace|
+--------------------+
|itv017244_assignm...|
+--------------------+

In [36]:
spark.sql("use itv017244_assignments_week5")

++
||
++
++

In [37]:
spark.sql("show tables").show()

+--------------------+---------+-----------+
|            database|tableName|isTemporary|
+--------------------+---------+-----------+
|itv017244_assignm...|   orders|      false|
|                    |groceries|       true|
+--------------------+---------+-----------+

In [38]:
groceries_df = spark.read.\
format("csv").\
option("header","true").\
option("inferSchema", "True").\
load("/public/trendytech/groceries.csv*")

In [39]:
groceries_df.show(4)

+--------+--------+-------+----------+--------+
|order_id|location|   item|order_date|quantity|
+--------+--------+-------+----------+--------+
|      o1| Seattle|Bananas|01/01/2017|       7|
|      o2|    Kent| Apples|02/01/2017|      20|
|      o3|Bellevue|Flowers|02/01/2017|      10|
|      o4| Redmond|   Meat|03/01/2017|      40|
+--------+--------+-------+----------+--------+
only showing top 4 rows

In [40]:
groceries_df.createOrReplaceTempView("groceries")

In [41]:
spark.sql("select * from groceries limit 5")

+--------+--------+--------+----------+--------+
|order_id|location|    item|order_date|quantity|
+--------+--------+--------+----------+--------+
|      o1| Seattle| Bananas|01/01/2017|       7|
|      o2|    Kent|  Apples|02/01/2017|      20|
|      o3|Bellevue| Flowers|02/01/2017|      10|
|      o4| Redmond|    Meat|03/01/2017|      40|
|      o5| Seattle|Potatoes|04/01/2017|       9|
+--------+--------+--------+----------+--------+

In [42]:
groceries_df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- item: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- quantity: integer (nullable = true)

In [43]:
spark.sql("create table itv017244_assignments_week5.groceries(order_id string, location string, item string,order_date string, quantity integer)")

++
||
++
++

In [44]:
spark.sql("show tables").show()

+--------------------+---------+-----------+
|            database|tableName|isTemporary|
+--------------------+---------+-----------+
|itv017244_assignm...|groceries|      false|
|itv017244_assignm...|   orders|      false|
|                    |groceries|       true|
+--------------------+---------+-----------+

In [45]:
spark.sql("describe extended itv017244_assignments_week5.groceries").show(truncate = False)

+----------------------------+-----------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                      |comment|
+----------------------------+-----------------------------------------------------------------------------------------------+-------+
|order_id                    |string                                                                                         |null   |
|location                    |string                                                                                         |null   |
|item                        |string                                                                                         |null   |
|order_date                  |string                                                                                         |null   |
|quantity                    |int                                                                                            |null   |
|                            |                                                                                               |       |
|# Detailed Table Information|                                                                                               |       |
|Database                    |itv017244_assignments_week5                                                                    |       |
|Table                       |groceries                                                                                      |       |
|Owner                       |itv017244                                                                                      |       |
|Created Time                |Thu Feb 20 18:32:23 EST 2025                                                                   |       |
|Last Access                 |UNKNOWN                                                                                        |       |
|Created By                  |Spark 3.1.2                                                                                    |       |
|Type                        |MANAGED                                                                                        |       |
|Provider                    |hive                                                                                           |       |
|Table Properties            |[transient_lastDdlTime=1740094343]                                                             |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv017244/warehouse/itv017244_assignments_week5.db/groceries|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                             |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                                       |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                                     |       |
+----------------------------+-----------------------------------------------------------------------------------------------+-------+
only showing top 20 rows

In [46]:
spark.sql("select * from itv017244_assignments_week5.groceries limit 5").show()

+--------+--------+----+----------+--------+
|order_id|location|item|order_date|quantity|
+--------+--------+----+----------+--------+
+--------+--------+----+----------+--------+

In [47]:
spark.sql("insert into itv017244_assignments_week5.groceries select * from groceries")

++
||
++
++

In [48]:
spark.sql("create table itv017244_assignments_week5.groceries_EXT(order_id string, location string, item string,order_date string, quantity integer) using csv location '/public/trendytech/groceries.csv'")

++
||
++
++

In [49]:
spark.sql("select * from itv017244_assignments_week5.groceries_EXT limit 5").show()

+--------+--------+-------+----------+--------+
|order_id|location|   item|order_date|quantity|
+--------+--------+-------+----------+--------+
|order_id|location|   item|order_date|    null|
|      o1| Seattle|Bananas|01/01/2017|       7|
|      o2|    Kent| Apples|02/01/2017|      20|
|      o3|Bellevue|Flowers|02/01/2017|      10|
|      o4| Redmond|   Meat|03/01/2017|      40|
+--------+--------+-------+----------+--------+

In [50]:
spark.sql("drop table itv017244_assignments_week5.groceries")

++
||
++
++

In [51]:
spark.sql("show tables").show()

+--------------------+-------------+-----------+
|            database|    tableName|isTemporary|
+--------------------+-------------+-----------+
|itv017244_assignm...|groceries_ext|      false|
|itv017244_assignm...|       orders|      false|
|                    |    groceries|       true|
+--------------------+-------------+-----------+

In [52]:
spark.sql("drop table itv017244_assignments_week5.groceries_EXT")

++
||
++
++

In [53]:
spark.sql("show tables").show()

+--------------------+---------+-----------+
|            database|tableName|isTemporary|
+--------------------+---------+-----------+
|itv017244_assignm...|   orders|      false|
|                    |groceries|       true|
+--------------------+---------+-----------+

In [26]:
spark.sql("create table itv017244_assignments_week5.orders(order_id integer,order_date string,customer_id integer,order_status string)")

AnalysisException: Table or view 'orders' already exists in database 'itv017244_assignments_week5'

orders_df = spark.read.json("/public/trendytech/datasets/orders.json")

In [58]:
spark.stop()

In [59]:
orders_df.show()

NameError: name 'orders_df' is not defined

In [56]:
orders_df_new = orders_df.select("order_id", "order_date", "customer_id","order_status")

NameError: name 'orders_df' is not defined

In [50]:
spark.sql("insert into itv017244_assignments_week5.orders select * from orders_df")

AnalysisException: Table or view not found: orders_df; line 1 pos 61;
'InsertIntoStatement 'UnresolvedRelation [itv017244_assignments_week5, orders], [], false, false, false
+- 'Project [*]
   +- 'UnresolvedRelation [orders_df], [], false